@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  &__content{
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__inner{
    display: flex;
    align-items: center;
  }
  &__phone{
    @extend %montserrat-700;
    font-size: 12px;
    line-height: 15px;
    color: $accent;
    margin-right: 90px;
  }
  &__cart{
    margin-right: 24px;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__item + .menu__item{
    margin-left: 50px;
  }
  &__item-link{
    color: $accent;
    font-size: 12px;
    line-height: 15px;
    padding: 2px 1px;
    transition: all .3s;
    &:hover{
      border-bottom: 1px solid $accent;
      color: $default;
    }
  }
}

.top{
  padding: 147px 0;
  min-height: calc(100vh - 88px);
  &__container{
    max-width: 1410px;
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content{
    margin-left: 105px;
  }
  &__title{
    @extend %montserrat-700;
    font-size: 48px;
    line-height: 72px;
    color: $accent;
    max-width: 520px;
  }
  &__title-span{
    color: #E4BABD;
  }
  &__text{
    @extend %montserrat-500;
    line-height: 27px;
    margin-top: 24px;
    max-width: 500px;
  }
  &__link{
    display: inline-block;
    margin-top: 70px;
    padding: 18px 52px;
    color: #fff;
    background: linear-gradient(94.89deg, #E4BABD -0.87%, #C89DA0 123.92%);
    border-radius: 10px;
  }
  &__img{
    max-width: 680px;
  }
}

.trends{
  padding-bottom: 80px;
  &__headline{
    display: flex;
    align-items: flex-end;
  }
  &__heading{
    display: flex;
    align-items: center;
    margin-right: 160px;
  }
  &__title-btn{
    border: none;
    background: transparent;
    cursor: pointer;
  }
  &__filter-category{
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    line-height: 17px;
    color: $accent;
    padding: 0 0 3px 0;
    & + .trends__filter-category{
      margin-left: 50px;
    }
  }
  &__product-items{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-auto-rows: 373px;
  }
  &__product-inner{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__product-inner__link{
    transition: all .3s;
    &:hover{
      transform: scale(0.99);
    }
  }
}

.product-item{
  padding: 21px;
  border: 2px solid #C89DA0;
  box-shadow: 0px 0px 20px rgba(228, 182, 185, 0.56);
  transition: all .3s;
  &:hover{
    transform: scale(1.03) ;
  }
  &__image{
    min-height: 258px;
    object-fit: contain;
  }
  &__name{
    color: $default;
    transition: all .3s;
    &:hover{
      color: #C89DA0;
    }
  }
  &__price-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
  }
  &__price{
    @extend %montserrat-500;
  }
  &__link{
      svg{
        path{
          transition: all .3s;
        }
      }
    &:hover{
      svg{
        path{
          fill: #C89DA0;
        }
      }
    }  
  }
}

.mixitup-control-active {
  border-bottom: 1px solid #C89DA0;
  color: #C89DA0;
}

.catalog{
  padding-bottom: 80px;
  &__heading{
    display: flex;
    align-items: center;
  }
  &__title-btn {
    border: none;
    background: transparent;
    cursor: pointer;
  }
}

.stat{
  padding-bottom: 80px;
  &__list.stat__list{
    margin-top: 54px;
    display: flex;
    align-items: center;
  }
  &__list-item{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
  }
  &__list-item + .stat__list-item{
    margin-left: 38px;
  }
  &__list-item-num{
    @extend %montserrat-900;
    font-size: 36px;
    line-height: 44px;
    margin-right: 21px;
  }
}


.footer{
  background: #606060;
  &__content{
    padding: 90px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu-list{
    display: flex;
  }
  &__contacts{
    display: flex;
    align-items: center;
  }
  &__menu-item + .footer__menu-item{
    margin-left: 50px;
  }
  &__menu-link{
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    transition: all .3s;
    &:hover{
      border-bottom: 1px solid #fff;
    }
  }
  &__btn,
  &__phone{
    font-size: 12px;
    line-height: 15px;
    color: #fff;
  }
  &__btn{
    @extend %montserrat-400;
    padding: 6px 12px;
    border: 1px solid #fff;
    margin-right: 30px;
  }
  &__phone {
    @extend %montserrat-700;
  }
  
}

@import 'media';